@use "../variables" as v;

.Setting {
  position: absolute;
  z-index: 20;
  top: 0;left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  background: rgba($color: v.$card_primary, $alpha: 0.5);
  animation: fade_in 0.25s;
  .box {
    max-width: 1000px;
    height: 100%;
    margin: 0 auto;
    animation: slide_left_in 0.5s;
    .top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 10px;
      .menus {
        display: flex;
        justify-content: left;
        align-items: center;
        gap: 10px;
        .btn {
          width: fit-content;
          height: 45px;
          padding: 0 10px;
          border-radius: 5px;
          background: v.$card_primary;
          text-transform: uppercase;
          font-weight: bold;
          text-align: center;
          align-content: center;
          cursor: pointer;
          &.selected {
            background: linear-gradient(150deg, v.$neonpink, v.$neonpurple);
            color: v.$white;
          }
        }
      }
      .actions {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        .btn-close {
          color: v.$cred;
          font-weight: bold;
          font-size: 1.2em;
          text-shadow: v.$textshadow;
          cursor: pointer;
        }
        .btn-save {
          width: fit-content;
          height: 45px;
          padding: 0 10px;
          border-radius: 5px;
          background: v.$sgreen;
          text-transform: uppercase;
          font-weight: bold;
          text-align: center;
          align-content: center;
          cursor: pointer;
        }
      }
    }
    .bottom {
      width: 100%;
      max-height: calc(100% - (45px + 10px));
      margin-top: 10px;
      background: linear-gradient(150deg, v.$neonpurple, v.$neonpink);
      border-radius: 20px;
      overflow-y: auto;
      scrollbar-width: thin;
      .list {
        padding: 10px;
        .item {
          background: rgba($color: v.$card_primary, $alpha: 0.7);
          margin-bottom: 10px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 10px;
          border-radius: 10px;
          .btn, input, select, option, .string {
            display: block;
            border-radius: 3px;
            padding: 5px 7px;
            color: v.$white;
            background: v.$card_primary;
            font-size: 1em;
            cursor: pointer;
          }
          .btn {
            &.r {
              color: v.$white;
              background: v.$cred;
            }
            &.br {
              color: v.$sred;
              background: v.$card_primary;
            }
          }
          input, select, option {
            border: 1px solid #555555;;
          }
          select {
            padding-left: 3px;
          }
          .string {
            background: #555555;
            min-width: 30px;
            text-align: center;
            text-transform: capitalize;
          }
          option:first-child {
            visibility: hidden;
            display: none;
          }
          input[type="checkbox"] {
            appearance: none;
            -webkit-appearance: none;
            background: v.$card_primary;
            margin: 0;
            font: inherit;
            color: v.$white;
            width: 1.50em;
            height: 1.50em;
            border: 0.15em solid #808080;
            transform: translateY(-0.075em);
            display: grid;
            place-content: center;
          }
          input[type="checkbox"]::before {
            content: "";
            width: 1em;
            height: 1em;
            transform: scale(0);
            transition: 120ms transform ease-in-out;
            box-shadow: inset 1em 1em v.$white;
            background: v.$card_primary;
            transform-origin: bottom left;
            clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
          }
          input[type="checkbox"]:checked::before {
            transform: scale(1);
          }
        }
        .item:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
  &.out {
    animation: fade_out 0.5s forwards;
    .box {
      animation: slide_left_out 0.5s forwards;
    }
  }
}