@use "../variables" as v;

.TitleScreen {
  display: block;
  position: absolute;
  z-index: 104;
  left: 0;top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($color: v.$card_primary, $alpha: 0.5);
  text-align: center;
  align-content: center;
  animation: fade_in 1s;
  .user {
    margin: auto;
    margin-bottom: calc(16px * 8);
    width: fit-content;
    height: fit-content;
    max-width: 225px;
    background-color: v.$bg;
    border-left: 1px solid v.$darkcream;
    border-bottom: 1px solid v.$darkcream;
    border-radius: 10px;
    padding: 20px;
    color: v.$darkcream;
    font-size: 1.2em;
    p {
      word-break: break-all;
      word-break: break-word;
      hyphens: none;
    }
    p:last-child {
      color: v.$white;
      font-weight: bold;
    }
    &.out {
      animation: popup_out 1s forwards;
    }
  }
  .copyright {
    position: absolute;
    bottom: 20px;left: 20px;
    text-align: left;
    p {
      text-shadow: 1px 0 3px v.$card_primary,
      0 1px 3px v.$card_primary,
      -1px 0 3px v.$card_primary,
      0 -1px 3px v.$card_primary,
      1px 1px 10px v.$card_primary,
      1px -1px 10px v.$card_primary,
      -1px 1px 10px v.$card_primary,
      -1px -1px 10px v.$card_primary;
    }
    &.out {
      animation: slide_up_out 1s forwards;
    }
  }
  .main-menu {
    position: absolute;
    z-index: -1;
    right: 0;bottom: 0;
    padding: 40px;
    background-color: rgba($color: v.$card_primary, $alpha: 0.5);
    border-left: 1px solid v.$darkcream;
    min-width: 270px;
    height: 100%;
    text-align: center;
    align-content: center;
    .game-title {
      margin-bottom: 20px;
    }
    .menus {
      .btn {
        display: block;
        background-color: v.$darkcream;
        color: v.$card_primary;
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        border-radius: 5px;
        cursor: pointer;
        text-decoration: none;
      }
      .btn:last-child {
        margin-bottom: 0;
      }
    }
    &.out {
      animation: slide_left_out 1s forwards;
    }
  }
  &.out {
    animation: fade_out 1s forwards;
  }
}