@use "../variables" as v;

$bg: #3f464e;

.loading {
  z-index: 98;
  position: fixed;
  top: 0;left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($color: v.$card_primary, $alpha: 0.5);
  .box {
    width: fit-content;
    max-width: calc(100% - 40px);
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: $bg;
    padding: 30px 40px;
    border-radius: 20px;
    animation: slide_down_in 500ms;
    .spinner {
      font-size: 2rem;
    }
    p {
      font-size: 1.5rem;
    }
  }
  &.out {
    .box {
      animation: slide_down_out 500ms forwards;
    }
  }
}
.sm-loading {
  z-index: 98;
  position: fixed;
  right: 20px;bottom: 20px;
  background-color: rgba($color: v.$card_primary, $alpha: 0.8);
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  align-content: center;
  text-transform: uppercase;
}
.modal {
  z-index: 99;
  position: fixed;
  top: 0;left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($color: v.$card_primary, $alpha: 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  .box {
    text-align: center;
    padding: 20px;
    width: calc(100% - 40px);
    max-width: 500px;
    max-height: calc(100% - 40px);
    overflow-y: auto;
    scrollbar-width: thin;
    background-color: $bg;
    border-radius: 10px;
    box-shadow: 0 0 10px v.$black;
    animation: popup_in 0.5s;
    .ic {
      font-size: 2.2rem;
    }
    .inf {
      margin: 20px 0;
      font-weight: 300;
      font-size: 1.2rem;
      a {
        color: v.$yellow;
        text-decoration: none;
      }
      p {
        word-break: break-all;
        word-break: break-word;
        hyphens: auto;
      }
      input[type="text"], textarea {
        margin-top: 10px;
        width: 100%;
        padding: 10px;
        border-radius: 5px;
        background-color: v.$card_secondary;
        color: v.$white;
        font-size: 1rem;
      }
      input[type="text"] {
        text-align: center;
      }
      .modal-radio-form {
        width: 100%;
        margin-top: 10px;
        .radio {
          width: 100%;
          border-radius: 10px;
          border: 1px solid v.$blurple;
          margin-bottom: 10px;
          label {
            padding: 14px;
            display: block;
            display: flex;
            justify-content: left;
            align-items: center;
            gap: 10px;
            cursor: pointer;
            input[type="radio"] {
              -webkit-appearance: none;
              appearance: none;
              background-color: v.$card_secondary;
              margin: 0;
              font: inherit;
              color: v.$blurple;
              width: 1.15rem;
              height: 1.15rem;
              border-radius: 50%;
              display: grid;
              place-content: center;
              cursor: pointer;
            }
            input[type="radio"]::before {
              content: "";
              width: 0.65rem;
              height: 0.65rem;
              border-radius: 50%;
              transform: scale(0);
              transition: 120ms transform ease-in-out;
              box-shadow: inset 1rem 1rem v.$card_secondary;
              background-color: v.$blurple;
            }
            input[type="radio"]:checked {
              background-color: v.$blurple;
              transform: scale(1);
            }
            input[type="radio"]:checked::before {
              transform: scale(1);
            }
            p {
              max-width: calc(100% - (1.15rem + 10px));
            }
          }
        }
      }
      .radio:has(:checked) {
        border-color: v.$blurple;
        background-color: v.$bar_active;
      }
    }
    .acts {
      display: flex;
      justify-content: space-between;
      gap: 10px;
      .btn {
        width: calc(100% / 2);
        text-align: center;
        align-content: center;
        padding: 10px;
        border-radius: 5px;
        font-size: 0.9rem;
        font-weight: bold;
        color: v.$white;
      }
      .btn-cancel {
        background-color: v.$card_primary;
      }
      .btn-ok {
        background-color: v.$blurple;
      }
    }
    .act {
      .btn-ok {
        width: 100%;
        text-align: center;
        align-content: center;
        padding: 10px;
        border-radius: 5px;
        font-size: 0.9rem;
        font-weight: bold;
        color: v.$white;
        background-color: v.$blurple;
      }
    }
  }
  &.out {
    .box {
      animation: popup_out 0.5s forwards;
    }
  }
}
.Intros {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  img {
    width: calc(100% - 40px);
    max-width: 600px;
    animation: fade_in 1s;
    &.out {
      animation: fade_out 1s forwards;
    }
  }
}

.notip {
  z-index: 98;
  position: absolute;
  top: 20px;right: 20px;
  width: fit-content;
  max-width: 400px;
  background-color: v.$bar_active;
  color: v.$white;
  padding: 20px;
  border-radius: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  animation: slide_down_in 0.5s;
  border: 1px solid v.$black;
  .detail {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    border-right: 1px solid CurrentColor;
    padding-right: 10px;
    .icon {
      font-size: 2.2rem;
      img {
        width: 44px;
        height: 44px;
        object-fit: cover;
        object-position: center;
        -o-object-fit: cover;
        -o-object-position: center;
        border-radius: 50%;
      }
    }
    .text {
      .top {
        font-weight: bold;
        word-break: break-all;
        word-break: break-word;
        hyphens: auto;
      }
      .bottom {
        word-break: break-all;
        word-break: break-word;
        hyphens: auto;
      }
    }
  }
  .close {
    font-size: 2.2rem;
  }
  &.g {
    background-color: v.$sgreen;
  }
  &.y {
    background-color: v.$black;
    border: 1px solid v.$yellow;
    color: v.$yellow;
  }
  &.r {
    background-color: v.$cred;
  }
  &.rb {
    background-color: v.$black;
    color: v.$cred;
    border: 1px solid v.$cred;
  }
  &.out {
    animation: slide_down_out 0.5s forwards;
  }
}
.Splash {
  position: absolute;
  z-index: 101;
  top: 0;left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #521852, #795056);
  animation: fade_in 0.25s;
  .box {
    width: 100%;
    max-width: 600px;
    height: fit-content;
    .rewards-title {
      animation: fade_in 2s;
      p {
        font-size: 1.5em;
        text-align: center;
      }
    }
    .desc {
      animation: fade_in 2s;
      p {
        text-align: center;
      }
    }
    .list {
      padding: 10px;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      gap: 20px;
      margin: 40px 0;
      .card {
        position: relative;
        background: v.$rewardbg;
        width: 75px;
        height: 75px;
        border: 1px solid v.$black;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        animation: flip_right 1.25s ease;
        .expire::after {
          content: "\f017";
          font-family: "Font Awesome 6 Pro";
          font-weight: 400;
          position: absolute;
          top: 0;left: 0;
          font-size: 0.7em;
          padding: 5px;
          border-bottom-right-radius: 5px;
          background-color: rgba($color: v.$card_primary, $alpha: 0.7);
        }
        img {
          width: 100%;
          image-rendering: pixelated;
        }
        .number {
          position: absolute;
          bottom: 0;left: 0;
          width: 100%;
          background-color: rgba($color: v.$card_primary, $alpha: 0.7);
          font-size: 0.8em;
          text-align: center;
          padding: 2px 0;
        }
      }
    }
  }
}

.kchat {
  z-index: 2;
  position: absolute;
  top: 0;left: 0;
  width: 100%;
  height: 100%;
  &.hide {
    visibility: hidden;
  }
  &:not(:has(.hide)) {
    z-index: 30;
  }
  .box {
    width: 100%;
    max-width: 600px;
    height: 100%;
    padding: 20px;
    position: absolute;
    bottom: 0;left: 0;
    &:not(:has(.hide)) {
      .content {
        .list {
          padding: 10px;
          border: 1px solid v.$card_primary;
          box-shadow: 0 0 10px v.$black;
          margin-bottom: 10px;
          background-color: rgba($color: v.$card_primary, $alpha: 0.5);
          backdrop-filter: blur(3px);
          -webkit-backdrop-filter: blur(3px);
          overflow-y: auto;
          scrollbar-width: thin;
          .cht:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
    .kchat-form {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: rgba($color: v.$card_primary, $alpha: 0.8);
      border: 1px solid v.$sgray;
      &.hide {
        visibility: hidden;
      }
      .btn {
        padding: 5px 10px;
        text-align: center;
        background-color: #00000000;
        color: white;
        display: block;
        &.btn-kchat-send {
          color: v.$cgreen;
        }
        &.btn-kchat-cancel {
          color: v.$cred;
        }
      }
      input {
        display: block;
        flex-grow: 1;
        padding: 5px 0;
        background-color: #00000000;
        color: v.$white;
        letter-spacing: 1px;
      }
    }
    .content {
      position: relative;
      width: 100%;
      height: calc(100% - 100px);
      margin-bottom: 5px;
      .list {
        position: absolute;
        bottom: 0; left: 0;
        width: 100%;
        max-height: 200px;
        overflow-x: hidden;
        overflow-y: hidden;
        scroll-behavior: smooth;
        .cht {
          display: block;
          line-height: 1.5;
          margin-bottom: 5px;
          word-break: break-all;
          word-break: break-word;
          hyphens: none;
          i {
            font-style: normal;
            text-shadow: v.$textoutline;
          }
          .uname {
            margin-right: 5px;
            color: #00ffff;
          }
          .y {
            color: v.$yellow;
          }
        }
      }
    }
  }
}