$cursorDefault: url("../../../public/assets/ui/other/cursordefault.png"), auto;
$cursorPointer: url("../../../public/assets/ui/other/cursorpointer.png"), pointer;
$cursorNotAllowed: url("../../../public/assets/ui/other/cursornotallowed.png"), not-allowed;
