@use "./variables" as v;
@use "./cursor" as c;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 18.2px;
  height: 100svh;
  scroll-behavior: smooth;
  scrollbar-color: v.$pm1 rgba(v.$px1, 0.5);
  scrollbar-width: thin;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  font-family: v.$gamefont;
  cursor: c.$cursorDefault;
}

body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: v.$px1;
  color: v.$softwhite;
  font-size: v.$defaultSize;
  cursor: c.$cursorDefault;
}

.app {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-canvas {
  width: 100%;
  height: 100%;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
  &.mission-complete {
    animation: canvas_completed 0.5s forwards;
  }
  &.title-screen {
    transform: scale(1.25);
    &.out {
      animation: fix_screen 2s linear forwards;
    }
  }
}

button,
input,
textarea {
  font-family: v.$gamefont;
  border: none;
  outline: none;
  font-size: v.$defaultSize;
}

button,
.btn,
[role="button"],
button:hover,
.btn:hover,
[role="button"]:hover {
  border: none;
  outline: none;
  cursor: c.$cursorPointer;
}
input {
  color: v.$white;
}
textarea {
  color: v.$white;
  resize: none;
  scrollbar-width: thin;
}
textarea {
  resize: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  appearance: textfield;
  -moz-appearance: textfield;
}
.center {
  text-align: center;
}
img {
  pointer-events: none;
}

.avatar {
  width: 125px;
  height: 125px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  .hero {
    width: 16px;
    height: 32px;
    transform: scale(3);
    image-rendering: pixelated;
    overflow: hidden;
    img {
      display: block;
      position: absolute;
      transform: translate(-48px);
      pointer-events: none;
    }
  }
}

.keyinfo {
  display: block;
  width: fit-content;
  padding: 2px 3px;
  border-radius: 5px;
  background-color: v.$black;
  color: v.$softwhite;
  font-size: 0.8rem;
  text-transform: capitalize;
  border: 1px solid v.$sgray;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

div {
  outline: none;
}

.hidden-preload {
  display: none;
}
