@use "./variables" as v;
@use "./main";

.EggHunt {
  position: absolute;
  top: v.$mediumPadding;
  right: v.$mediumPadding;
  .egghunt-time {
    display: block;
    padding: v.$smallPadding;
    background: linear-gradient(135deg, v.$pm1, v.$pm1, v.$white);
    color: v.$px1;
    margin-bottom: calc(v.$smallPadding + 2px);
    border-radius: 10px;
  }
  .player {
    display: block;
    width: 100%;
    font-size: v.$defaultSize;
    margin-bottom: calc(v.$smallPadding + 2px);
    background-color: rgba(v.$px1, 0.7);
    color: v.$white;
    padding: v.$smallPadding;
    border: 1px solid v.$pm1;
    box-shadow: 0 0 0 2px v.$px1;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: v.$mediumPadding;
    &:last-child {
      margin-bottom: 0;
    }
  }
}
