# semua value merupakan tipe string, tapi akan ditranspile saat server berjalan

APP_PRODUCTION=boolean # false / true
APP_HOST=string # jika menggunakan VM/VPS atau sejenisnya, isi dengan: localhost
APP_PORT=number # jika menggunakan VM/VPS, isi dengan nomor. mainstream: 3000/5173/5500/7000/9000
APP_DOMAIN=string # contoh: www.kulon.id
MIDTRANS_PRODUCTION=boolean # false / true

SMTP_HOST=string # contoh: smtp.kulon.id
SMTP_PORT=number # contoh: 587
SMTP_USER=string # contoh: account-manager@kulon.id
SMTP_PASS=key # contoh: iniPassw0rdRahas1aBang3t

TURN_SERVER_HOST=string # turn host - contoh: coturn.kulon.id
TURN_SERVER_PORT=number # turn port - contoh: 3478
TURN_APP_HOST=string # pointing ke root api - contoh: www.kulon.id
TURN_APP_PORT=number # kosongi jika production - pointing ke port api (cek APP_PORT di atas)
TURN_USERNAME=string # myAppAdmin
TURN_PASSWORD=key # passw0rdTurnS3rver

DISCORD_BOT_TOKEN=key # isi jika webhook diaktifkan
DISCORD_CLIENT_ID=key # discord client id - cek discord.com/developers/applications
DISCORD_CLIENT_SECRET=key # discord client secret - cek discord.com/developers/applications

GITHUB_CLIENT_ID=key # github client id - cek github.com/settings/developers
GITHUB_CLIENT_SECRET=key # github client secret - cek github.com/settings/developers

GOOGLE_CLIENT_ID=key # google client id - cek console.cloud.google.com/apis/credentials
GOOGLE_CLIENT_SECRET=key # google client secret - cek console.cloud.google.com/apis/credentials

PEER_SSL_KEY=path_to_key # isi jika turn server menggunakan SSL
PEER_SSL_CERT=path_to_cert # isi jika turn server menggunakan SSL

SESSION_SECRET=key # bytes hex berisi 64 karakter
CHAT_KEY=key # kosongi aja karna udah ga dipake - bytes hex berisi 64 karakter

SB_MIDTRANS_SERVER_KEY=key # midtrans server key - sanbox/dev mode
SB_MIDTRANS_CLIENT_KEY=key # midtrans client key - sandbox/dev mode

PR_MIDTRANS_SERVER_KEY=key # midtrans client key - production mode
PR_MIDTRANS_CLIENT_KEY=key # midtrans client key - production mode

DISCORD_DONATION=channel_id # isi jika webhook diaktifkan
DISCORD_MAIL=channel_id # isi jika webhook diaktifkan
DISCORD_EXCHANGE=channel_id # isi jika webhook diaktifkan
DISCORD_CHANGENAME=channel_id # isi jika webhook diaktifkan
DISCORD_USERLOG=channel_id # isi jika webhook diaktifkan