node_modules
.env
package-lock.json

client/bundle
client/assets
client/audio
client/images
client/json/skins
client/json/assets
client/json/maps
client/json/scenes
client/json/audio
client/**.html
server/bundle
server/db/
server/sessions
keys
ex