.jumpscare {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(100vw) translateY(-75vh);
  .icon {
    image-rendering: pixelated;
  }
  &.animate {
    animation: jumpscareslide 1.5s linear forwards;
  }
}

@keyframes jumpscareslide {
  0% {
    transform: translateX(100vw) translateY(-75vh);
  }
  100% {
    transform: translateX(-100vw) translateY(75vh);
  }
}
