$bg: #313338;

$bar_bg: #3F4146;
$bar_active: #3C426F;

$card_primary: #1E1F21;
$card_secondary: #2B2D30;

$fuchsia: #EB459D;
$cyan: #00ffff;

$white: #efefef;
$softwhite: #aaaaaa;
$black: #1b1b1b;

$blurple: #5865F1;
$sgreen: #3AA761;
$sred: #DA373B;
$sgray: #4E5057;
$syellow: #BDA94E;
$yellow: #FEE75B;
$sblue: #16365C;

$cred: #ff6e6e;
$cgreen: #6ccc71;
$cblue: #2B6FB9;

$darkcream: #cab05c;

$neonpurple: #64538b;
$neonpink: #64354b;
$rewardbg: linear-gradient(135deg, #ffc0cb, #800080);

$textoutline: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
$textshadow: 1px 0 3px #0b0b0b,
0 1px 3px #0b0b0b,
-1px 0 3px #0b0b0b,
0 -1px 3px #0b0b0b,
1px 1px 10px #0b0b0b,
1px -1px 10px #0b0b0b,
-1px 1px 10px #0b0b0b,
-1px -1px 10px #0b0b0b;