@use "./main/main";
@use "./other/animations";
@use "./other/properties";
@use "./variables" as v;

.app {
  width: 100%;
  height: 100%;
  overflow: visible;
}
html {
  height: 100svh;
  scrollbar-color: v.$darkcream #302f2b;
}
body {
  overflow: visible;
}
.nav {
  z-index: 98;
  position: fixed;
  top: 10px;right: 10px;
  background-color: #1E1F2280;
  border-bottom: 1px solid v.$darkcream;
  border-left: 1px solid v.$darkcream;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  animation: slide_left_in 0.5s;
  .btn-menu {
    padding: 10px 20px;
    margin-left: auto;
    margin-right: 0;
    width: fit-content;
  }
  .nav-list {
    display: none;
    padding: 10px;
    a {
      display: block;
      text-align: left;
      padding: 10px;
      text-decoration: none;
      font-size: 1.1em;
      color: v.$white;
      border-left: 1px solid #00000000;
      border-bottom: 1px solid #00000000;
      border-radius: 10px;
      transition: 0.2s;
      &.br {
        margin-top: 20px;
      }
      &:hover {
        width: calc(100% + 20px);
        transform: translateX(-20px);
        background-color: v.$card_primary;
        border-color: v.$darkcream;
      }
      &:active {
        background-color: v.$bar_active;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  &.opened {
    min-width: 200px;
    .btn-menu {
      border-radius: 10px;
      &:active{
        background-color: v.$darkcream;
      }
    }
    .nav-list {
      display: block;
    }
  }
  &.out {
    animation: slide_left_out 0.5s forwards;
  }
}
.main {
  width: 100%;
  height: 100%;
  background-image: url("../../../public/assets/ui/other/landing.png");
  background-size: cover;
  background-position: center center;
  .sect {
    &#home {
      position: relative;
      padding: 10px;
      width: 100%;
      min-height: 100svh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background: linear-gradient(120deg, rgba($color: #21211e, $alpha: 0.9), rgba($color: #292621, $alpha: 0.9), rgba($color: #21211e, $alpha: 0.9));
      .card {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
        .icon-wait {
          position: relative;
          translate: 6px -8px;
          width: 96px;
          height: 96px;
          overflow: hidden;
          image-rendering: pixelated;
          animation: slide_up_in 1s;
          scale: 2;
          img {
            position: absolute;
            transform: translate(0, 0);
          }
        }
        .icon {
          display: none;
          translate: 6px -8px;
          image-rendering: pixelated;
          scale: 2;
        }
        .title {
          font-size: 1.25rem;
          text-align: center;
          animation: slide_up_in 1s;
          h1 {
            word-break: break-all;
            word-break: break-word;
            hyphens: auto;
          }
        }
        .actions {
          text-align: center;
          margin-top: 40px;
          animation: slide_down_in 1s;
          .btn {
            margin-bottom: 10px;
            color: v.$white;
            border: 1px solid v.$darkcream;
            border-radius: 10px;
            overflow: hidden;
            &:last-child {
              margin-bottom: 0;
            }
            a {
              background-color: v.$darkcream;
              min-width: 150px;
              max-width: 100%;
              display: block;
              padding: 10px 20px;
              color: #fffffd;
              font-weight: bold;
              text-decoration: none;
              &.joined {
                background-color: #21211e;
                color: v.$white;
              }
            }
          }
        }
      }
      .author {
        position: absolute;
        bottom: 10px;left: 10px;
        text-align: left;
        font-family: monospace, monospace;
        font-size: 0.8rem;
        animation: slide_right_in 2s;
        p {
          a {
            color: v.$darkcream;
            font-weight: bold;
            text-shadow: 1px 0 1px v.$card_primary,
            0 1px 1px v.$card_primary,
            -1px 0 1px v.$card_primary,
            0 -1px 1px v.$card_primary,
            1px 1px 2px v.$card_primary,
            1px -1px 2px v.$card_primary,
            -1px 1px 2px v.$card_primary,
            -1px -1px 2px v.$card_primary;
          }
        }
      }
    }
    &#credits, &#requirements {
      background-color: #1b1b1b;
      padding: 20px;
      color: #dedede;
      a {
        color: v.$darkcream;
        text-decoration: none;
      }
      .box {
        max-width: 800px;
        margin: 0 auto;
        .cre {
          img {
            padding: 40px 0;
            display: block;
            margin: 0 auto;
          }
          p {
            padding: 10px 0;
            line-height: 2;
            text-align: justify;
            text-align-last: left;
          }
          ul {
            padding-bottom: 10px;
            margin-left: var(--fa-li-margin, 2.5em);
            li {
              line-height: 2;
              .fa-li:has(.fa-music) {
                color: v.$darkcream;
              }
            }
          }
          &:last-child {
            p, ul {
              padding-top: 10px;
              padding-bottom: 0;
            }
          }
        }
      }
    }
    &#requirements {
      background: linear-gradient(120deg, #21211e, #292621, #21211e);
    }
    &#footer {
      background: #1b1b1b;
      color: v.$softwhite;
      .links {
        background: linear-gradient(120deg, #21211e, #292621, #21211e);
        padding: 20px;
        display: flex;
        flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 10px;
        a {
          display: block;
          text-decoration: none;
          color: v.$softwhite;
        }
      }
      .author {
        padding: 20px;
        font-size: 14px;
        p {
          line-height: 1.5;
          text-align: center;
        }
      }
    }
  }
}