@use "../variables" as v;

.BannerDrop {
  position: absolute;
  bottom: 0;left: 0;
  background-color: v.$card_primary;
  color: v.$white;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  font-size: 34px;
  text-align: center;
  .title {
     font-weight: bold;
     text-transform: uppercase;
     text-shadow: v.$textshadow;
  }
  .subtitle {
     animation: fade_zoom_in 3s forwards;
     &.out {
      animation: fade_out 1s forwards;
     }
  }
  &.out {
   animation: banner_drop_smalling 5s ease forwards;
  }
}