@use "../variables" as v;

.Result {
  z-index: 20;
  position: absolute;
  top: 0;left: 0;
  width: 100%;
  height: 100%;
  .box {
    width: 100%;
    height: 100%;
    max-width: 800px;
    padding: 20px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    .nav {
      width: 100%;
      margin-bottom: 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      animation: slide_down_in 0.5s;
      gap: 20px;
      .nav-title {
        font-size: 1.3em;
        font-weight: bold;
        color: v.$white;
        text-shadow: v.$textoutline;
      }
      .nav-ts {
        color: v.$white;
        text-shadow: v.$textoutline;
      }
    }
    .actions {
      width: 100%;
      display: flex;
      justify-content: right;
      align-items: center;
      margin-top: 20px;
      animation: slide_up_in 0.5s;
      .btn {
        text-align: center;
        padding: 10px;
        background-color: v.$card_primary;
        border: 3px solid v.$card_primary;
        &.txt {
          color: v.$softwhite;
          cursor: default;
        }
        &.btn-restart:hover {
          background-color: v.$sgreen;
        }
        &.btn-quit:hover {
          background-color: v.$sred;
        }
      }
    }
    .con {
      width: 100%;
      height: calc(100% - (155px));
      display: flex;
      justify-content: space-between;
      align-items: start;
      gap: 20px;
      animation: slide_right_in 0.5s;
      .board {
        width: 100%;
        height: calc(100% - 20px);
        overflow-y: auto;
        scrollbar-width: thin;
        table {
          width: 100%;
          table-layout: auto;
          border-collapse: separate;
          border-spacing: 5px 5px;
          .thead {
            tr {
              background: linear-gradient(90deg, rgba($color: v.$neonpurple, $alpha: 0.8), rgba($color: v.$neonpink, $alpha: 0.8));
            }
          }
          tr {
            th, td {
              padding: 10px;
            }
            th {
              text-transform: uppercase;
              font-weight: bold;
            }
            td {
              background: rgba($color: v.$card_primary, $alpha: 0.8);
              text-align: center;
              &.position {
                display: flex;
                justify-content: space-between;
                align-items: center;
                .l {
                  display: flex;
                  justify-content: left;
                  align-items: center;
                  gap: 10px;
                  i {
                    display: block;
                    font-style: normal;
                  }
                  i:first-child {
                    width: 30px;
                    height: 100%;
                    background: linear-gradient(90deg, rgba($color: v.$neonpurple, $alpha: 0.8), rgba($color: v.$neonpink, $alpha: 0.8));
                  }
                }
                .r {
                  color: v.$softwhite;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  i {
                    cursor: pointer;
                    &:hover {
                      color: v.$yellow;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  &.out {
    .box {
      .nav {
        animation: slide_down_out 0.5s forwards;
      }
      .actions {
        animation: slide_up_out 0.5s forwards;
      }
      .con {
        animation: slide_left_out 0.5s forwards;
      }
    }
  }
}