@use "../variables" as v;

.TextMessage {
  position: absolute;
  z-index: 9;
  bottom: 0;
  left: 0;
  width: 100%;
  height: fit-content;
  background: rgba($color: v.$card_primary, $alpha: 0.8);
  // background: linear-gradient(180deg, rgba($color: v.$card_primary, $alpha: 0.1), rgba($color: v.$card_primary, $alpha: 0.9));
  color: v.$white;
  .TextMessage_p {
    margin: 0 auto;
    text-align: center;
    width: fit-content;
    padding: 20px;
    font-size: 1.2em;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  }
  &.v2 {
   .TextMessage_p {
    padding-bottom: 60px;
   } 
  }
  .TextMessage_button {
    float: right;
    font-size: 1.2em;
    padding: 10px 20px;
    appearance: none;
    -webkit-appearance: none;
    border:none;
    border-radius: 3px;
    margin-bottom: 20px;
    margin-right: 20px;
    font-family: inherit;
    background-color: rgba($color: v.$blurple, $alpha: 0.5);
    color: v.$white;
    cursor: pointer;
  }
  span {
    // opacity: 0;
    display: none;
  }
  span.revealed {
    display: inline;
    // opacity: 1;
  }
  .who {
    margin: 0 auto;
    text-align: center;
    width: fit-content;
    padding-top: 20px;
    p {
      font-size: 1.2em;
      font-weight: bold;
      text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    }
  }
  .choices {
    position: absolute;
    top: -181px;right: 20px;
    .choice {
      width: fit-content;
      background-color: rgba($color: v.$card_primary, $alpha: 0.8);
      margin-bottom: 7px;
      margin-left: auto;
      margin-right: 0;
      padding: 5px 10px;
      border-radius: 5px;
      cursor: pointer;
    }
    .choice:last-child {
      margin-bottom: 0;
    }
    .choice:hover {
      background-color: v.$blurple;
    }
  }
}